body{
    margin: 0;
}
.background{
    background-image: url(../images/);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block;
    position: sticky,fixed bottom;
}
li{
float:left;
padding: 2rem;
}
html{
    scroll-behavior: smooth;
}
.back{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.order{
    text-align: center;
}
.title{
    font-size: 1.5rem;
}
.contact{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
    line-height: 1.5em;
}
.card{
    box-shadow:  0 4px 8px 0 ;
}
