body {
    margin: 0;
}

.navbar {
    text-align: center;
}

#img1 {
    background-size: 100% 100%;
    width: 100%;
    height: 650px;
}

.piz {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block;
    position: sticky, fixed bottom;
}

li {
    float: left;
    padding: 2rem;
}

h3 {
    font-size: 2em;
}

html {
    scroll-behavior: smooth;
}

.back {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.order {
    text-align: center;
}

.title {
    font-size: 1.5rem;
}

.contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 1.5em;
}

.card {
    box-shadow: 0 4px 8px 0;
}

h3 {
    text-align: center;
}

.checkout {
    text-align: center;
}

#contact {
    background-color: tan
}

#Order {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}